*{
    font-family: Arial, sans-serif;
}
body{
    margin: auto;
    align-content: center;
}
img {
    height: 300px;
    width: 400px;
}
div#eingabeKasten {
    border-radius: 0.4em;
    border: 3px solid black;
    margin-right: 4em;

}
